<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conway's Game of Life</title>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
    <script data-main="/static/js/app" src="/static/js/lib/require.js"></script>
</head>

<body>



    <div class="columns is-gapless">

        <div class="column with-game-field is-four-fifths">
            <svg role="fieldmap" class="fieldmap"></svg>
        </div>

        <div class="column with-patterns-explorer">


            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Cells Alive</p>
                        <p class="title" id="id_stats_cells_alive">0</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">Generation</p>
                        <p class="title" id="id_stats_generation">0</p>
                    </div>
                </div>
            </nav>


        </div>


    </div>



</body>

</html>
