html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
}

.columns {
  height: 100%;
}

.column.with-patterns-explorer {
  background-color: #f2f2f2;
  overflow-y: auto;
  overflow-x: hidden;
}

.column.with-game-field {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fieldmap {
  border: solid 1px #ccc;
  z-index: 0;
}

.fieldmap .axis path {
  display: none;
}
.fieldmap .axis line {
  display: none;
}
.fieldmap .axis text {
  font-size: 9px;
}

.fieldmap rect {
  cursor: crosshair;
}

.inner-padding {
  padding: 0.75rem;
}

/* .patterns-list {
  padding-left: 1rem;
  padding-right: 1rem;
} */

.list-item {
  /* padding-top: 0.5rem; */
  /* padding-bottom: 0.5rem; */
  border-bottom: dashed 1px hsl(0, 0%, 21%);
}

.controls-box {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  margin-top: 0.75rem;
}

.box:not(:last-child),
.field:not(:last-child) {
  margin-bottom: 0;
}
