.field-container, .controls-container {

}

.main {
    margin: 20px;
}

.stats-container .bold {
    font-weight: bold;
}

.stats-container .right {
    text-align: right;
}

.stats-container .code {
    font-family: monospace;
}

.dropdown-menu a {
    text-decoration: none;
}

.fieldmap .axis path {
    display: none;
}
.fieldmap .axis line {
    display: none;
    /*fill: none;*/
    /*stroke: #000;*/
    /*shape-rendering: crispEdges;*/
}
.fieldmap .axis text {
    font-size: 9px
}

.fieldmap rect {
    cursor: crosshair;
}

.controls-panel {
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 20px;
    width: 170px;
    background-color: rgba(255, 255, 255, 0.7);
}

.controls-panel .list-group-item {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.7);
}
